@model Restaurant.Models.Employee

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.PageTitle</title>
</head>
<body>
    <h1> This is from Views/Employee/Detils.cshtml</h1>

    <h2>
        Id : @Model.Id
    </h2>

    <h2>
        Name : @Model.Name
    </h2>

    <h2>
        EmailId : @Model.Email
    </h2>

    <h2>
        Department : @Model.Department
    </h2>
</body>
</html>